#start-screen {
    display: none;
}
#game-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#heading {
    position: absolute;
    top: 0;
    text-align: center;
}
#btn-container button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 7px;
    outline: none;
    font-size: 1.5rem;
}
